.heading{ 
    width: 100%; 
    text-align: left; 
    border-radius: 0px; 
} 
.heading button{ 
    float:right; 
    border: 2px solid whitesmoke; 
} 
.heading h3{ 
    display: inline; 
   
} 
#mario{ 
width: 100%; 
 
 
} 
#status,#start{ 
font-size: 30px; 
} 
#down{ 
    width: 100%; 
    background-color: whitesmoke; 
    margin: 0px; 
    line-height: 2; 
    bottom: 0; 
position: fixed; 
} 
.modal-dialog{ 
    width: 90%; 
    border-radius: 4100px; 
} 
.imgs{ 
    width: 45%; 
    display: inline-block; 
} 
.modal-header{ 
    background-color: red; 
} 
 
video{ 
    background: url("game_console.png"); 
    background-size:cover; 
    background-position: center; 
    padding: 25px; 
} 
 